<h2>New Tutorial</h2>
<%= form_for [:admin, @tutorial] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, class: "block col-4 field" %>
  <%= f.label :description %>
  <%= f.text_area :description, class: "block col-4 field"  %>
  <%= f.label :thumbnail %>
  <%= f.text_field :thumbnail, class: "block col-4 field"  %>

  <h3>Videos</h3>

  <%= f.fields_for :videos do |builder| %>
    <%= f.label :youtube_url %>
    <%= f.text_field :video_id, class: "block col-4 field" %>
  <% end %>

  <%= f.submit "Save", class: "mt2 btn btn-primary mb1 bg-teal"  %>
<% end %>
