<nav class="primary_nav">
  <section class="left inner-nav table">
    <div class="logo align-middle table-cell">
      <%= link_to(image_tag('logo.png', class: "ml4", alt: "Turing Logo"), root_path) %>
    </div>
  </section>

  <section class="right links overflow-auto table mr4">

    <% if current_user %>
      <div class="align-middle table-cell p3">
        <%= link_to "Profile", dashboard_path %>
      </div>
      <% if current_user.admin? %>
      <div class="align-middle table-cell p3">
        <%= link_to "Admin", admin_dashboard_path %>
      </div>
      <% end %>
    <% else %>
      <div class="align-middle table-cell p3">
        <%= link_to 'Sign In', login_path, class: "px2"%>
        <%= link_to 'Register', register_path %>
      </div>
    <% end %>
  </section>
</nav>
