<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
    <% @videos.each do |video| %>
    <ul>
      <li> <%= link_to video.title, tutorial_path(video.tutorial_id, video_id: video.id) %>
           <%= link_to 'Remove', user_video_path(video), method: 'DELETE'%>
      </li>
    </ul>
    <% end %>
  </section>
  <h3> <%= link_to 'Log Out', logout_path, method: :delete %> </h3>
</section>
