<% if current_user.admin? %>
<%= render 'partials/tools' %>
<% end %>
<h1> <%= current_user.first_name %>'s Dashboard </h1>

<h3>Account Details</h3>
<ul>
  <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
  <li> <%= current_user.email%> </li>
</ul>

<h3> <%= link_to 'Log Out', logout_path, method: :delete %> </h3>
