<main class="tutorials">
<h2><%= @presenter.title %></h2>
<div class="col col-4">
  <h4>Videos</h4>
  <ul>
    <% @presenter.videos.each.with_index(1) do |video, index| %>
      <li><%= index %>. <%= link_to video.title, tutorial_path(video_id: video.id) %></li>
    <% end %>
  </ul>
</div>

<div class="col col-8">
  <% if @current_vid == nil %>
    <h3><%= @presenter.current_video.title %></h3>
  <% else %>
    <h3><%= @current_vid.title %></h3>
  <% end %>

  <div class="bookmarks-btn">
    <% if current_user && @current_vid == nil %>
      <%= button_to "Add to Bookmarks", user_videos_path(video_id: @presenter.current_video.id, user_id: current_user.id), method: :post, class: "btn btn-outline mb1 blue" %>
    <% elsif current_user && @current_vid != nil %>
      <%= button_to "Add to Bookmarks", user_videos_path(video_id: @current_vid.id, user_id: current_user.id), method: :post, class: "btn btn-outline mb1 blue" %>
    <% else %>
      <%= button_to "Add to Bookmarks", login_path, class: "btn btn-outline mb1 blue" %>
    <% end %>
  </div>

  <div id="player">
    <script src="https://www.youtube.com/player_api"></script>
    <script>
    // create youtube player
    var player;
    function onYouTubePlayerAPIReady() {
      player = new YT.Player('player', {
        width: '640',
        height: '390',
        <% if @current_vid == nil %>
          videoId: '<%= @presenter.current_video.video_id %>',
        <% else %>
          videoId: '<%= @current_vid.video_id%>',
        <% end %>
        events: {
          onReady: onPlayerReady,
          onStateChange: onPlayerStateChange
        }
      });
    }

    // autoplay video
    function onPlayerReady(event) {
      event.target.playVideo();
    }

    // when video ends
    function onPlayerStateChange(event) {
      if(event.data === 0) {
        console.log('done');
      }
    }
  </script>
</div>

  <h4>Description</h4>
  <p data-controller="tutorials" id="description-<%= @presenter.current_video.id %>">
    <%= @presenter.current_video.description.truncate(50) %>...
    <%= link_to "More", "#", "data-action" => "click->tutorials#showDescription", id: @presenter.current_video.id%>
  </p>
</div>

</main>
