<main class="tutorials">
<h2><%= @presenter.title %></h2>
<h1 id="message"></h1>
<div class="col col-4">
  <h4>Videos</h4>
  <ul>
    <% @presenter.videos.each do |video| %>
      <li>
        <h3><%= link_to video.title, tutorial_path(video_id: video.id), class: "show-link", id: video.position %></h3>
        <% if current_user != nil && current_user.admin? %>
          <%= form_tag(admin_video_path(video), method: :put, id: "edit-position") do %>
          <%= text_field_tag :position, params[:position], placeholder: video.position %>
          <%= submit_tag "Edit", class: "btn btn-outline mb1 bg-red" %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div class="col col-8">
  <div class="title-bookmark">
    <h3><%= @presenter.current_video.title %></h3>
    <div class="bookmarks-btn">
      <% if current_user %>
      <%= button_to "Bookmark", user_videos_path(video_id: @presenter.current_video.id, user_id: current_user.id), method: :post, class: "btn btn-outline mb1 teal" %>
      <% else %>
      <%= link_to "Bookmark", login_path, class: "btn btn-outline mb1 teal" %>
      <% end %>
    </div>
  </div>

  <div id="player">
    <script src="https://www.youtube.com/player_api"></script>
    <script>
    // create youtube player
    var player;
    var position;
    function onYouTubePlayerAPIReady() {
      player = new YT.Player('player', {
        width: '640',
        height: '390',
        videoId: '<%= @presenter.current_video.video_id %>',
        events: {
          onReady: onPlayerReady,
          onStateChange: onPlayerStateChange
        }
      });
    }

    // autoplay video
    function onPlayerReady(event) {
      event.target.playVideo();
    }

    // when video ends
    function onPlayerStateChange(event) {
      if(event.data === 0 && <%= @presenter.play_video %>) {
        window.location = "/tutorials/<%=@presenter.id%>?video_id=<%=@presenter.next_video%>";
      } else if(event.data === 0 && <%= @presenter.play_video == false %>) {
        const message = document.querySelector(`#message`);
        message.innerHTML = "You watched them all. Bask in the glory of your new skills."
      }
    }
  </script>
</div>

  <h4>Description</h4>
  <p data-controller="tutorials" id="description-<%= @presenter.current_video.id %>">
    <%= @presenter.current_video.description.truncate(50) %>...
    <%= link_to "More", "#", "data-action" => "click->tutorials#showDescription", id: @presenter.current_video.id, class: "show-link"%>
  </p>
</div>

</main>
