<main class="tutorials">
<h2><%= @presenter.title %></h2>
<div class="col col-4">
  <h4>Videos</h4>
  <ul>
    <% @presenter.videos.each.with_index(1) do |video, index| %>
      <li><%= index %>. <%= link_to video.title, controller: "video", action: "show", video_id: video.video_id, class: "title" %></li>
    <% end %>
  </ul>
</div>

<div class="col col-8">
  <h3>1. <%= @presenter.current_video.title %></h3>

  <div class="video-view">
    <iframe src= <%="https://www.youtube.com/embed/#{@presenter.current_video.video_id}" %>  width="650" height="300"></iframe>
  </div>

  <h4>Description</h4>
  <div data-controller="tutorials">
    <p data-target= "tutorials.tutorial">
      <%= @presenter.description.truncate(50) %>...
      <%= link_to "More", "#", "data-action" => "click->tutorials#showDescription", id: @presenter.id %>
    </p>
  </div>
</div>

</main>
