<div class="home-page-title">
  <h1>Video Tutorials</h1>
  <hr>
</div>
<section class="tutorials col md-col-8">
  <% @tutorials.each do |tutorial| %>
    <div class="tutorial">
      <img class="thumbnail col md-col-3" src= <%="#{tutorial.thumbnail}" %> >
      <div class="tutorial-description col md-col-9">
        <h4 class="tutorial-title-home"><%= link_to tutorial.title, tutorial_path(tutorial), class: "title-link" %> </h4>
        <p class="description"><%= tutorial.description %></p> <br>
      </div>
    </div> <br>
  <% end %>
  <hr>
  <br>
  <div class="paginater">
    <%= will_paginate @tutorials %>
  </div>
</section>
<aside class="categories col md-col-4">
  <h1>Filters:</h1>
  <hr>
  <div class="tags">
    <% tag_cloud Tutorial.tag_counts, %w[.m] do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: "btn btn-primary mb1 bg-teal"  %>
    <% end %>
  </div>
  <hr>
  <%= link_to "Reset", root_path, class: "btn btn-outline mb1 aqua"  %>
</aside>
