<%= render 'partials/search' %>
<body>
  <section class="tutorials col md-col-8">
    <% @tutorials.each do |tutorial| %>
    <div class="tutorial">
      <img class="thumbnail col md-col-3" src= <%= "#{tutorial.thumbnail}" %> >
      <div class="tutorial-description col md-col-9">
        <%= link_to tutorial.title, tutorial_path(tutorial) %>
        <p class="description"><%= tutorial.description %></p> <br>
        <% if current_user != nil && current_user.admin?  %>
        <div class="edit-tutorial<%=tutorial.id %>">
          <%= link_to 'Edit Tags', edit_admin_tutorial_path(tutorial) %>
        </div>
        <% end %>
        <p>Tags: <%= tutorial.tag_list %></p>
      </div>
    </div> <br>
    <% end %>
    <hr>
    <%= will_paginate @tutorials %>
  </section>
  <aside class="categories col md-col-4">
    <h1>Filters:</h1>
    <hr>
    <div class="tags">
      <% @list.each do |l| %>
      <ul>
        <li><%= link_to l, tag_path(l) %> </li>
      </ul>
      <% end %>
    </div>
  </aside>
</body>
